/*a{
    text-decoration:none;
}

li{
    margin-top: 3px;
}

ol>li.error{
    color:red;
}

table, tr, th, td{
    border: 1px solid black;
    margin-left: 5px;
    width: 30vw;
    text-align: center;
}

td>input{
    text-align: center;
}

td>input[type="text"]:focus{
    outline: none;
}

td.td-button{
    border: none;
}

td>button{
    width: 100%;
}*/